<!DOCTYPE HTML>
<html>
<!-- Hier startet der 'html'-Bereich -->

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">

    <!-- Angabe der 'StyleSheet'-Datei die hier verwendet wird -->
    <link rel="stylesheet" href="../style/mainpage.css">
    <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="../style/fonts/fontAwesome/css/font-awesome.min.css" rel='stylesheet'>

    <title>Festival PLanner Übersicht</title>
</head>

<body>
    <div id="header">
        <a class="icons" href="#" id="postfachbutton">g</a>
        <a class="icons" href="#" id="ausloggenbutton">L</a>
        <a class="icons" href="#" id="einstellungsbutton">Y</a>
        <div class="icons" id="headerplatzhalter"></div>
        <center>
            <div id="logobox">
                Festival Planner
            </div>
        </center>

    </div>

    <div id="content">
        <div id="contentwrapper">
            <div id="leftside">
                <div id="blah">
                    <a id="teiln" class="icons"><i class="fa fa-wrench fontawicons" id="wrench"></i>TEILNEHMER</a>
                    <div class="clear"></div>
                </div>


                <div id="gaesteliste" class="gaestel">

                    Zugesagt:
                    <ul id="zgaeste">

                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                    </ul>
                </div>
                <div id="vgaesteliste" class="gaestel">Vielleicht:
                    <ul id="vgaeste">
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                    </ul>
                </div>

            </div>
            <div id="rightside">
                <div id="yeah">
                    <a class="icons" href="#" id="createevent">
                        <i class="fa fa-plus fontawicons"></i> NEUE PARTY</a>
                    <div class="clear"></div>
                </div>



                <div id="veranstaltungsliste" class="gaestel">
                    <ul id="navi">
                        <li id="vlistenheader" class="dummy">Deine Veranstaltungen:</li>
                        <li class="dummy"><a href="#">test1</a>
                            <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dummy"><a href="#">test2</a>
                            <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test2</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                        <li class="dummy"><a href="#">test3</a>
                        <ul>
                                <!-- steht für veranstaltungsseite bearbeiten-->
                                <li class="dropdo"><a href="#"><i class="fa fa-pencil"></i></a>
                                </li>
                                <!-- steht für veranstaltung absagen/löschen-->
                                <li class="dropdo"><a href="#"><i class="fa fa-times-circle"></i></a>
                                </li>
                            </ul></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
