# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/Fonds
/HintergrundDesign
/FestivalPlanner/
/DhbwFestivalPlanner/WebContent/views/style/message.scss
/DhbwFestivalPlanner/WebContent/views/style/header.css
/DhbwFestivalPlanner/WebContent/views/style/header.scss
