@font-face{font-family:'Novitolight';src:url('Fonds/Novitolight.otf') format('opentype');
 font-weight:normal;
 font-style:normal
}
@font-face{font-family:'Novito';src:url('Fonds/Novito.otf') format('opentype');
 font-weight:normal;
 font-style:normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
h1 {
    text-align: center;
    font-family: "Novitolight";
    font-size: 60;
}
body {
    background-image: url(HintergrundDesign/FrauBallons.png);
    background-size: cover;
    background-position: 0% 20%;
    color: black;
    font-family: "Muli";
}
body,
html {
    width: 100%;
    height: 100%;
}
body {
    max-width: 800px;
    margin: 0 auto
}
#logo,
#login {
    width: 50%;
    height: 100%;
    float: left;
}
.whitebox {
    background-color: rgba(255, 255, 255, 0.74);
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 70%;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    top: 20%;
    position: relative;
}
#ImpressumLink {
    clear: right;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    background: rgba(143, 235, 235, 0.47);
    text-align: center;
    padding: 6px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 24px 30px;
}
li {
    float: left;
    height: 21px;
    background-color: rgba(255, 255, 255, 0.74);
    margin: 2px 2px 0 2px;
}
#registerform {
    display: none;
}
.tab {
    display: block;
    padding: 10px;
    width: 50%;
    background-color: grey;
    float:left;
    cursor: pointer;
    font-family: "Muli";
    text-align: center;
    font-size:30;
}
#loginform,
#registerform {
    padding: 0 10%;
    width: 100%;
}
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 100%;
    width: 100%;
    margin: 2px 2px 3px 2px;
    padding: 7px;
    border-radius: 5px;
    border-style: solid;
    position: relative;
    display: inline-block;
    border-color: rgba(149, 149, 149, 0.7);
    border-width: 1px;
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 18px;
}
input:hover {
    border-color: rgba(149, 149, 149, 1);
}
input:focus {
    border-color: rgb(136, 136, 136);
    background-color: rgba(255, 255, 255, 0.8);
    outline-width: 0;
}
input[type=submit] {
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    padding: 9px 7px;
    color: rgba(255, 255, 255, 0.95);
    background: rgba(88, 132, 158, 0.85);
    border: 1px solid rgba(88, 132, 158, 1);
    box-shadow: 0px 1px 1px rgba(88, 132, 158, 0.9);
}
input[type=submit].green-submit {
    background: rgba(88, 158, 120, 0.85);
    border: 1px solid rgba(88, 158, 120, 1);
    box-shadow: 0px 1px 1px rgba(88, 158, 120, 0.9);
}
input[type=submit].red-submit {
    background: rgba(211, 126, 126, 0.85);
    border: 1px solid rgba(211, 126, 126, 1);
    box-shadow: 0px 1px 1px rgba(211, 126, 126, 0.9);
}
#loginwhite {
    padding:0;
}
#loginwhite .tab:first-child{border-radius:15px 0 0 0 }
#loginwhite .tab:nth-child(2){border-radius:0 15px 0 0}

.actualtab {
    background-color: transparent;
}
