<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/impressum.css">
        </link>

    </head>
<body>
     <div id="headera">
        <a class="iconsa" href="#" id="postfachbuttona">g</a>
        <a class="iconsa" href="#" id="ausloggenbuttona">L</a>
        <a class="iconsa" href="#" id="einstellungsbuttona">Y</a>
        <div class="iconsa" id="headerplatzhaltera"></div>
        <center>
            <div id="logoboxa">
                Festival Planner
          </div>
            <div id="contenta">
<div class='impressum' id="whitya">
    <h1>Impressum</h1><br>
    <p>Angaben gemäß § 5 TMG</p>
    <p>dhbw Karlsruhe
        <br> Erzberger Straße
        <br> 76133 Karlsruhe
        <br>
    </p><br>
    <p> <strong>Vertreten durch: </strong>
        <br> dhbw Karlsruhe
        <br> Yvonne Tremmel
        <br> Steven Wruk
        <br> Carina Weser
        <br>
    </p><br>
    <p><strong>Kontakt:</strong>
        <br> E-Mail: <a href='mailto:carinaweser@yahoo.de'>carinaweser@yahoo.de</a>
        </br>
    </p>
    <p><strong>Haftungsausschluss: </strong>
        <br>
        <br><strong>Datenschutz</strong>
        <br>
        <br> Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. <br>Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
        <br> Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
        <br> Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. <br>Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
        <br>
    </p>

            </div></div>
</body>
</html>
