<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Festival Planner</title>
    <meta name="eventpage" content="Die individuelle Veranstaltungsseite einer Party.">
    <link rel="stylesheet" href='../style/pagedesign01.css'>
    <link href="../style/fonts/fontAwesome/css/font-awesome.min.css" rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="<c:url   />/js/Handler.js"></script>
</head>

<body>
    <div id="header">
        <center>
            <div id="logobox">
                Festival Planner
            </div>
        </center>

    </div>

    <div id="content">

        <div id="leftside">
            <center>
                <h1 id="titel">Veranstaltungstitel</h1>
            </center>
            Datum und Uhrzeit
            <br>
            <br>Anschrift
            <br>Straße, Hausnummer
            <br>Ort, Postleitzahl
            <br>
            <br>

            <center>
                <div id="beschreibung">
                    Hier kommt der Beschreibungstext. Yeah. Supersaljfidfisdjf nsa fnsdfnioasjfojpsd vsdofheedfnosdifhoishdief
                    <br>ksdikfjijif
                    <br>jdsiofjesijfoie
                    <br>ihjdifo heiohfoihewoifhoiwehiofhiwhfoeiwhoifhiewhf
                    <br>was auch immer hier rein kommt
                    <br>was solls. :)
                    <br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam era t, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam no numy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua . At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea tak imata sanctus est Lorem ipsum dolor sit amet
                </div>
            </center>

        </div>




        <div id="rightside">

            <div id="zguestl">
                <div id="zgaestelist">

                    <div class="heading">Zugesagt:</div>
                    <ul id="zzgaeste">

                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                    </ul>
                </div>
                <div id="vzgaestelist">
                    <div class="heading">Vielleicht:</div>
                    <ul id="vzgaeste">
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                        <li class="dummy">test2
                        </li>
                        <li class="dummy">test3
                        </li>
                    </ul>
                </div>
            </div>
            <div id="buttons">
                <br>
                <center> <a href="#" id="like" class="button"><i class="fa fa-heart-o"></i>
I like it!</a>
                    <br>15 Leute mögen das.
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="#" id="mail" class="button"><i class="fa fa-envelope-o"></i>
Nachricht </a>
                    <div id="imbutton"><a href="#" id="zusage" class="button"><i class="fa fa-check"></i>
Zusagen </a>
                        <br>
                        <br>
                        <a href="#" id="absage" class="button"><i class="fa fa-meh-o"></i>
                    Absagen </a>
                        <br>
                </center>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>

</html>
