<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../style/message.css">
</head>

<body>
    <div id="headera">
        <a class="iconsa" href="#" id="postfachbuttona">g</a>
        <a class="iconsa" href="#" id="ausloggenbuttona">L</a>
        <a class="iconsa" href="#" id="einstellungsbuttona">Y</a>
        <div class="iconsa" id="headerplatzhaltera"></div>
        <center>
            <div id="logoboxa">
                Festival Planner
          </div>
</center>
</div>

<div id="contenta">
<div id="whitya">
    <h1>Nachricht</h1>
<br>
    <form id="formular">
        <div id="labl">
            <label name="empfaenger" for="empfanger"> Empfänger: </label><br>
        <br>
            <label name="nachrichht" for="nachricht"> Nachricht: </label><br>
    <br>    <br><br><br><br><br><br><br><br> <br> <br>
            <label name="schicken" for="abschicken">  </label><br>
        <br>
        </div>
        <div id="inpt">
            <input type="text" id="empfanger"></input>

        <br>
        <br>
        <input type="text" id="nachricht"> </input>
        <br>
        <br>
    </div>
<br><br>

        <input type="submit" id="abschicken" class="testmal">

    </form>
</div>
</div>

</body>

</html>
