<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='../style/umfrageuser.css'>
    <link href="../style/fonts/fontAwesome/css/font-awesome.min.css" rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

    <title> Umfrage erstellen</title>
</head>

<body>
    <div id="headera">
        <a class="iconsa" href="#" id="postfachbuttona">g</a>
        <a class="iconsa" href="#" id="ausloggenbuttona">L</a>
        <a class="iconsa" href="#" id="einstellungsbuttona">Y</a>
        <div class="iconsa" id="headerplatzhaltera"></div>
        <center>

            <div id="logoboxa">
                Festival Planner
       </div>
</center>

</div>
<div id="contenta">
    <div id="whitya">
        <center>
            <p>Hallo! Gastgeber hat dich zu seiner Feier feireri eingeladen und hat ein paar Fragen an dich.
     <br>Beantworte doch einfach die von ihm erstellten Umfragen </p>
</center><br>

<div class="frage">
    <form>Umfrage 1
        <p>Hier ist die erste Frage</p>

        <input type="radio" name="answers1">Antwort<br>
        <input type="radio" name="answers1">Andword<br>
        <input type="button" value="abstimmen">
    </form>
</div>

<div class="frage">
    <form>Umfrage 2
        <p>Hier ist die erste Frage</p>
        <input type="radio" name="answers2">Antiwoord<br>
        <input type="radio" name="answers2">Antword<br>
    <input type="button" value="abstimmen">
    </form>
</div>

<div class="frage">
    <form>Umfrage 3
        <p>Hier ist die erste Frage</p>
       <input type="radio" name="answers3">Antwoord<br>
        <input type="radio" name="answers3">Die Antwoord<br>
    <input type="button" value="abstimmen">
    </form>
</div>

<div class="frage">
    <form>Umfrage 4
        <p>Hier ist die erste Frage</p>
       <input type="radio" name="answers4">Antwort<br>
        <input type="radio" name="answers4">Antwoooort<br>
    <input type="button" value="abstimmen">
    </form>
</div>


<div class="frage">
    <form>Umfrage 5
        <p>Hier ist die erste Frage</p>
        <input type="radio" name="answers5">Antwooort<br>
        <input type="radio" name="answers5">Antwort<br>
    <input type="button" value="abstimmen">
    </form>
</div>



</div>
</div>
</body>

</html>
