<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">

    <!-- Angabe der 'StyleSheet'-Datei die hier verwendet wird -->
    <link rel="stylesheet" href="../style/creator.css">
     <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

    <title>Festival PLanner Neue Party</title>
</head>

<body>
    <div id="header">
        <center>
            <div id="logobox">
                Neue Party
            </div>
        </center>

    </div>
    <div id="content">
        <div id="whitewrapper">
            <form method="post" id="eventdata">
                <label for="name">Name der Veranstaltung:</label>
                <input type="text" value="${event.name} id="name">
                <br>
                <label for="datum">Datum:</label>
                <input type="date" id="date">
                <br>
                <label for="hour">Uhrzeit:</label>
                <input type="time" id="hour">
                <br>
                <label>Adresse:</label>
                <br>
                <label for="anschrift">Name:</label>
                <input type="text" id="anschrift">
                <br>
                <label for="strasse">Straße:</label>
                <input type="text" id="strasse">
                <br>
                <label for="hausnummer">Hausnummer:</label>
                <input type="text" id="hausnummer">
                <br>
                <label for="ort">Ort:</label>
                <input type="text" id="ort">
                <br>
                <label for="plz">Postleitzahl:</label>
                <input type="text" id="plz">
                <br>
                <input type="submit" value="Abbrechen">
                <input type="submit" value="Los geht's">
            </form>
        </div>
    </div>
</body>

</html>
