@font-face{font-family:'Novito';src:url('fonts/Novito.otf') format('opentype');
 font-weight:normal;
 font-style:normal;

}
@font-face{font-family:'Novitolight';src:url('fonts/Novitolight.otf') format('opentype');
 font-weight:normal;
 font-style:normal
}
@font-face{font-family:'Icons';src:url('fonts/sosaIcons.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
body {
    background-image:url(images/FrauBallons.jpg);
    background-size:cover;
    background-position:0% 20%;
    color:black;
    font-family:"Muli";
}
body,
html {
    width:100%;
    height:100%;
}
#header {
    width:100%;
    height:40px;
    top:0;
    left:0;
    background-color:rgba(253, 192, 53, 0.55);
    position:fixed;
}
#logobox {
    display:inline-block;
    margin:0px auto;
    background-color:rgba(250,  247, 247, 0.95);
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
        text-transform:uppercase;
    font-family:"Novitolight";
    text-align:center;
    font-size: 55px;
    padding: 0 15px;
}
#content {
    padding: 50px 0px 20px 0px;
    width:100%;
    height: 100%;
}
#whitewrapper {
    background-color:rgba(255, 255, 255, 0.53);
    */ -moz-border-radius:15px;
    border-radius:5px;
    display:block;
    margin: 30px;
    margin-top: 30px;
    padding:5px;
    position:relative;
    height:90%;
    overflow-y:auto;
    overflow-x:hidden;
}
#rightside {
      width: 45%;
    height: 100%;
    float: right;
    padding: 10px;
}
#leftside {
    float: left;
    width: 45%;
    height: 100%;
    padding: 10px;
}
#bilddesign {
    height: auto;
    width: 100%;
}
