@font-face{font-family:'Novito';src:url('Fonds/Novito.otf') format('opentype');
 font-weight:normal;
 font-style:normal;

}
@font-face{font-family:'Novitolight';src:url('fonts/Novitolight.otf') format('opentype');
 font-weight:normal;
 font-style:normal
}
@font-face{font-family:'Icons';src:url('fonts/sosaIcons.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
body {
    background-image:url('images/Glaeser.jpg');
    background-size:cover;
    background-position:0% 20%;
    color:black;
    font-family:"Muli";
    min-width: 1000px;
}
body,
html {
    width:100%;
    height:100%;
}
#header {
    width:100%;
    height:20px;
    top:0;
    left:0;
    background-color:rgba(157, 98, 17, 0.55);
    position:fixed;
}
#content {
    padding:50px 0px 20px 0px;
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x:auto;
}
#logobox {
    display:inline-block;
    margin:0px auto;
    background-color:rgba(250,247,247,0.95);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    text-transform:uppercase;
    font-family:"Novitolight";
    text-align:center;
    font-size:30px;
    padding:0 15px;
}
#headerLogo {
    text-transform:uppercase;
    font-family:"Novitolight";
    text-align:center;
    font-size:3.5em;
}
#rightside {
    width:30%;
    height:100%;
    float:right;
    padding-right:20px;
    position: relative;
top: 10px;
}
#leftside {
    float:left;
    width:60%;
    height:492px;
    padding:10px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.56);
    border:1px solid black;
    border-radius: 5px;
}
#buttons {
    display:inline-block;
    float:right;
    width:40%;
    height:90%;
    margin-top: 20px;
}
#zguestl {
    background-color: rgba(255, 255, 255, 0.50);
    display:inline-block;
    width:45%;
    height:auto;
    float:left;
    padding:10px;
    padding-right: 5px;
    border-radius:5px;
    border:1px solid black;
    margin: 20px;
    margin-right: 10px;
}
#zzgaeste {
    list-style-type:none;
    border-bottom:1px solid black;
    height:200px;
    overflow-y:auto;
    overflow-x:hidden
}
#vzgaeste {
    height:200px;
    list-style-type:none;
    overflow-y:auto;
    overflow-x:hidden
}
.button {
    background-color:rgba(255, 255, 255,0.50);
    margin:4px;
    padding: 2px 7px;
    border:1px solid black;
    width:120px !important;
    display: inline-block;
    height:40px;
    font-family:"Novitolight";
    text-transform:uppercase;
    font-size:30px;
    text-decoration:none;
    color:black;
    border-radius:5px;
}
.heading {
    font-family: "Novitolight";
    text-transform: uppercase;
    font-size: 30px;
}

#imbutton {
    margin-bottom: 20px;
    margin-top: 90%;
}

#titel {
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    font-family: "Novitolight";
    font-size: 50px;
}

#beschreibung {
    	font-family:"Muli";
	font-size: 12pt;
	width: 100%;
	height:250px;
	margin-top: 2px;
	margin-bottom: 2px;
    overflow-y:auto;
    overflow-x:hidden

}
